In [18]:
import pandas as pd
import numpy

data = {"Stress": numpy.linspace(10, 1, 11),
        "Freq": [14, 15, 26, 31, 13, 18, 16, 12, 3, 1, 2],
        "CumFreq": [151, 137, 122, 96, 65, 52, 34, 18, 6, 3, 2]
       }

df = pd.DataFrame(data)

df

    Stress  Freq  CumFreq
0     10.0    14      151
1      9.1    15      137
2      8.2    26      122
3      7.3    31       96
4      6.4    13       65
5      5.5    18       52
6      4.6    16       34
7      3.7    12       18
8      2.8     3        6
9      1.9     1        3
10     1.0     2        2

In [19]:
def pr_to_cf(pr, N):
    return round(pr*N/100, 2)

q1 = pr_to_cf(25, 151)
q3 = pr_to_cf(75, 151)

data = {'cf': [q1, q3],
    'x': [4,8]}

pd.DataFrame(data)

       cf  x
0   37.75  4
1  113.25  8

The IQR is the score at Q3 minus the score at Q1

So, 8 - 4 = 4

The semi-IQR is IQR/2, so 4/2 = 2

In [20]:

q1 = pr_to_cf(25, 85)
q3 = pr_to_cf(75, 85)

data = {'cf': [q1, q3],
    'x': ["21-23","33-35"]}

pd.DataFrame(data)

      cf      x
0  21.25  21-23
1  63.75  33-35

Note: there is a way to calculate an exact answer but we don't cover it here.

In [21]:
#midpoint of each
#IQR
34 - 22
#SIQR
(34 - 22)/ 2

data = {'IQR': [34 -22],
       'SIQR': [(34-22)/2]}

pd.DataFrame(data)

   IQR  SIQR
0   12   6.0

In [55]:
# Calculate population variance of these sets 

import statistics 
import math
import numpy as nd

data = [3, 4, 4, 5, 6, 7, 9]

#pd.DataFrame(data)

x = pd.DataFrame(data, 
              numpy.array(data)**2)

x

#statistics.pvariance(data)

    0
9   3
16  4
16  4
25  5
36  6
49  7
81  9

In [65]:
statistics.pvariance(data)

4.6913580246913575

In [15]:

data = [ 4, 5, 6, 7, 7, 7, 8, 8, 9]

pd.DataFrame(data)

statistics.pvariance(data)

2.1728395061728394

In [16]:
# Sample Variance 

data = [1, 3, 4, 5, 6, 7, 7]

pd.DataFrame(data)


statistics.variance(data)

4.904761904761905

In [63]:

statistics.stdev(data)

2.2973414586817036

In [61]:
# Sample Variance 

data = [2, 3, 4, 5, 5, 7, 8, 8, 8]

pd.DataFrame(data)

statistics.variance(data)

5.277777777777778

In [60]:
statistics.stdev(data)

2.2973414586817036