# Lecture 3 (Part I)

## Median

In [8]:
import statistics

items = [3, 4, 4, 5, 6, 7, 29]

statistics.median(items)

5

In [4]:
statistics.median([2, 6, 25, 26, 27, 27, 27, 29])

26.5

## Mean

20.29

In [14]:
snowbliz = ([1, 10, 10, 10, 25, 30, 30, 30, 40, 40, 40, 40, 45, 45, 60, 60, 60, 60, 60, 60, 75, 80, 90, 180])
round(statistics.median(snowbliz), 2)

42.5

49.21

In [18]:
#Calculation #2: Median of Stress Rating Example

151 / 2

75.5


The stress rating at the 75.5th person is between 6 and 7, or 6, given that it is closer.

In [20]:
# Calculation #3: Grouped Frequency Distribution Table
# median

85/2

42.5

The "42.5th" person falls between 27-29 and 30-33, or given that 42 is closer to the cf of 41 (which corresponds to 27-29) than 55, you can say the median is the range of 27-29.

## Mean

In [22]:
ex1 = statistics.mean([3, 4, 4, 5, 6, 7, 29])
round(ex1, 2)

8.29

In [23]:
ex2 = statistics.mean([2, 6, 25, 26, 27, 27, 29])
round(ex2, 2)

20.29

In [24]:
#Snow blizzard commuting times

round(statistics.mean(snowbliz), 2)

49.21

In [25]:
10*14

140

In [31]:
%%latex

$e^{i\pi} + 1 = 0$

In [99]:
import pandas as pd
import numpy

data = {'score': numpy.linspace(10, 0, num = 11), 
        'freq':[14, 15, 26, 31, 13, 18, 16, 12, 3, 1, 2]}

df = pd.DataFrame(data)

df['mult'] = df.apply(lambda x: x.score*x.freq, axis = 1)

df

    score  freq   mult
0    10.0    14  140.0
1     9.0    15  135.0
2     8.0    26  208.0
3     7.0    31  217.0
4     6.0    13   78.0
5     5.0    18   90.0
6     4.0    16   64.0
7     3.0    12   36.0
8     2.0     3    6.0
9     1.0     1    1.0
10    0.0     2    0.0

In [82]:
#taking sum of only one variable
df.mult.sum()

975.0

In [87]:
df.sum()

score     55.0
freq      80.0
mult     511.0
dtype: float64

In [100]:
df.mult.sum() / df.freq.sum()

6.456953642384106

In [105]:
# Exercise 1 

data = {'score': numpy.linspace(10, 0, num = 11), 
        'freq':[2, 8, 15, 13, 17, 13, 7, 4, 0, 1, 0]}

df = pd.DataFrame(data)

df['mult'] = df.apply(lambda x: x.score*x.freq, axis = 1)

df

    score  freq  mult
0    10.0     2  20.0
1     9.0     8  18.0
2     8.0    15  16.0
3     7.0    13  14.0
4     6.0    17  12.0
5     5.0    13  10.0
6     4.0     7   8.0
7     3.0     4   6.0
8     2.0     0   4.0
9     1.0     1   2.0
10    0.0     0   0.0

In [96]:
df.mult.sum()

511.0

In [101]:
df.mult.sum() / df.freq.sum()

6.456953642384106

In [113]:
# if median is greater than mean, skewed to the left 
# if median is less than mean, skewed to the right 

data = {'med': [42.5,9] , 
        'mu':  [35, 10],
       'skew': ["left", "right"]}

df = pd.DataFrame(data)

df

    med  mu   skew
0  42.5  35   left
1   9.0  10  right

Describe its distribution

Skewed to the right 

Measure of central tendency

Median is more accurate as it is not influenced by outliers